<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/css/registro.css}">
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>

        <title>Registrar Padre</title>
    </head>

    <body class="fondo-principal">
        <div class="contenedor-formulario container border p-4 shadow-sm bg-white rounded-3 fondo-formulario">
            <h2 class="text-center pb-2">Formulario de registro</h2>
            <form class="form-horizontal row needs-validation" th:action="@{/registro}" th:object="${parent}" method="POST"
                  novalidate>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="given-names">Nombres</label>
                        <input id="given-names" type="text" class="form-control"  th:field="*{givenNames}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('givenNames')}" th:errors="*{givenNames}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="first-last-name">Primer Apellido</label>
                        <input id="first-last-name" type="text" class="form-control" th:field="*{firstLastName}"  required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('firstLastName')}" th:errors="*{firstLastName}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="second-last-name">Segundo Apellido</label>
                        <input id="second-last-name" type="text" class="form-control" th:field="*{secondLastName}"  required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('secondLastName')}" th:errors="*{secondLastName}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="document-type">Tipo de documento</label>
                        <select id="document-type" class="form-control" th:field="*{documentType}" required>
                            <option class="seleccionado" value="" selected>Seleccione un tipo de documento</option>
                            <option th:each="doc : ${documentTypeList}" th:value="${doc.id}" th:text="${doc.name}"></option>
                        </select>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="document-number">Número de documento</label>
                        <input id="document-number" type="text" class="form-control" th:field="*{documentNumber}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('documentNumber')}" th:errors="*{documentNumber}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="birth-date">Fecha de nacimiento</label>
                        <input id="birth-date" type="date" class="form-control" th:field="*{birthDate}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input id="address" type="text" class="form-control" th:field="*{address}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="gender">Género</label>
                        <select id="gender" class="form-control" th:field="*{gender}" required>
                            <option class="seleccionado" value="" selected>Seleccione un género</option>
                            <option th:each="gender : ${genderList}" th:value="${gender.id}" th:text="${gender.name}"></option>
                        </select>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="nationality">Nacionalidad</label>
                        <select id="nationality" class="form-control" th:field="*{nationality}" required>
                            <option class="seleccionado" value="" selected>Seleccione una nacionalidad</option>
                            <option th:each="nationality : ${nationalityList}" th:value="${nationality.id}"
                                    th:text="${nationality.name}"></option>
                        </select>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="phone-number">Celular</label>
                        <input id="phone-number" type="text" class="form-control" th:field="*{phone}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                    </div>
                </div>
                <div class='col-xl-6 col-md-12 my-2'>
                    <div class="form-group">
                        <label for="email-address">Correo electrónico</label>
                        <input id="email-address" type="text" class="form-control" th:field="*{email}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-success">Registrar ahora </button>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="alert alert-danger" role="alert" th:text="${duplicateDocumentNumber}" th:if="${duplicateDocumentNumber}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${duplicateEmail}" th:if="${duplicateEmail}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${duplicatePhone}" th:if="${duplicatePhone}"></div>
                    <div class="alert alert-primary" role="alert" th:text="${mensaje}" th:if="${mensaje}"></div>
                </div>
            </form>
        </div>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    let forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    let validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    </body>
</html>