<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Padres - Inicio</title>

        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>

        <style>
            .seleccionado {
                display: none;
            }
        </style>
    </head>

    <body class="sb-nav-fixed">
        <div th:replace="fragments/top-nav :: topNav(${'/parent/parent-profile'})"></div>
        <div id="layoutSidenav">
            <div th:replace="fragments/side-nav :: sideNav(${nombresCompletos})"></div>
            <div id="layoutSidenav_content">
                <main>
                    <form class="mx-3 my-3 needs-validation" th:action="@{/parent/applicants-form}" th:object="${student}" method="POST" novalidate>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="given-names" class="form-label">Nombres Completos</label>
                                    <input type="text" class="form-control" id="given-names" th:field="*{givenNames}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('givenNames')}" th:errors="*{givenNames}"></small>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="first-last-name" class="form-label">Primer Apellido</label>
                                    <input type="text" class="form-control" id="first-last-name" th:field="*{firstLastName}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('firstLastName')}" th:errors="*{firstLastName}"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="second-last-name" class="form-label">Segundo Apellido</label>
                                    <input type="text" class="form-control" id="second-last-name" th:field="*{secondLastName}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('secondLastName')}" th:errors="*{secondLastName}"></small>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="gender" class="form-label">Género</label>
                                    <select id="gender" class="form-control" th:field="*{gender}" required>
                                        <option class="seleccionado" value="" selected>Seleccione un género</option>
                                        <option th:each="gender : ${genderList}" th:value="${gender.id}" th:text="${gender.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="document-type" class="form-label">Tipo De Documento</label>
                                    <select id="document-type" class="form-control" th:field="*{documentType}" required>
                                        <option class="seleccionado" value="" selected>Seleccione un tipo de documento</option>
                                        <option th:each="doc : ${documentTypeList}" th:value="${doc.id}" th:text="${doc.name}"></option>
                                    </select>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="document-number" class="form-label">Número De Documento</label>
                                    <input id="document-number" type="text" class="form-control" th:field="*{documentNumber}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('documentNumber')}" th:errors="*{documentNumber}"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="birth-date" class="form-label">Fecha De Nacimiento</label>
                                    <input id="birth-date" type="date" class="form-control" th:field="*{birthDate}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></small>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="nationality" class="form-label">Nacionalidad</label>
                                    <select id="nationality" class="form-control" th:field="*{nationality}" required>
                                        <option class="seleccionado" value="" selected>Seleccione una nacionalidad</option>
                                        <option th:each="nationality : ${nationalityList}" th:value="${nationality.id}" th:text="${nationality.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input id="address" type="text" class="form-control" th:field="*{address}" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="relationship" class="form-label">Parentesco</label>
                                    <select id="relationship" class="form-control" th:field="*{relationship}" required>
                                        <option class="seleccionado" value="" selected>Seleccione un parentesco</option>
                                        <option th:each="relationship : ${relationshipList}" th:value="${relationship.id}" th:text="${relationship.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 my-2">
                                    <label for="level" class="form-label">Nivel</label>
                                    <select id="level" class="form-control" required>
                                        <option class="seleccionado" value="" selected>Seleccione un nivel</option>
                                        <option th:each="level : ${levelList}" th:value="${level.id}" th:text="${level.name}"></option>
                                    </select>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <label for="grade" class="form-label">Grado</label>
                                    <select id="grade" class="form-control" th:field="${enrollment.grade.id}" required>
                                        <option class="seleccionado" value="" selected>Seleccione un grado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-block mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Registrar Estudiante</button>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/student.js}"></script>
    </body>
</html>