<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Padres - Ficha de Matrícula</title>

        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
        <link rel="preload" th:href="@{/css/styles.css}" as="style">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/ficha-matricula.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/regular.css}"/>
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/fontawesome.css}"/>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
        <style>
            /*.tab {*/
            /*    display: none;*/
            /*}*/
            .seleccionado {
                display: none;
            }
        </style>
    </head>

    <body class="sb-nav-fixed">
        <div th:replace="fragments/top-nav :: topNav(${'/parent/perfil'})"></div>
        <div id="layoutSidenav">
            <div th:replace="fragments/side-nav :: sideNav(${nombresCompletos})"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-md my-3 px-4">
                        <h2 class="text-center"><strong>Registro de ficha de Matrículas</strong></h2>
                        <!-- progressbar -->
                        <ul id="progressbar" class="px-0 text-center">
                            <li class="active item" id="datosEstudiante"><strong>Datos del estudiante</strong></li>
                            <li class="item" id="desarrolloEstudiante"><strong>Desarrollo del estudiante</strong></li>
                            <li class="item" id="datosPadre"><strong>Datos del padre</strong></li>
                            <li class="item" id="datosMadre"><strong>Datos de la madre</strong></li>
                        </ul>
                        <form id="miForm" th:action="@{/parent/enrollment-form}" th:object="${enrollmentForm}" method="POST">
                            <div class="tab step-form step-form-active" id="step-1">
                                <h5 class="fs-title">Datos personales del estudiante</h5>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="given-names" class="form-label">Nombres</label>
                                            <input id="given-names" type="text" class="form-control"
                                                   th:value="${student.givenNames}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-last-name" class="form-label">Primer Apellido</label>
                                            <input id="first-last-name" type="text" class="form-control"
                                                   th:value="${student.firstLastName}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="second-last-name" class="form-label">Segundo Apellido</label>
                                            <input id="second-last-name" type="text" class="form-control"
                                                   th:value="${student.secondLastName}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gender-type" class="form-label">Tipo de genero</label>
                                            <select id="gender-type" class="form-control" disabled>
                                                <option th:text="${student.gender.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="birth-date" class="form-label">Fecha de nacimiento</label>
                                            <input id="birth-date" type="date" class="form-control"
                                                   th:value="${student.birthDate}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="department" class="form-label">Departamento</label>
                                            <select id="department" class="form-control" >
                                                <option class="seleccionado" value="" selected> Seleccione el Departamento</option>
                                                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="province" class="form-label">Provincia</label>
                                            <select id="province" class="form-control">
                                                <option class="seleccionado" value="" selected>Seleccione la provincia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="district" class="form-label">Distrito</label>
                                            <select id="district" class="form-control" th:field="*{district}">
                                                <option class="seleccionado" value="" selected>Seleccione el Distrito</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="mother-tongue" class="form-label">Lengua materna</label>
                                            <select id="mother-tongue" class="form-control" th:field="*{motherTongue}">
                                                <option class="seleccionado" value="" selected>Seleccione su primera lengua</option>
                                                <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="second-language" class="form-label">Segunda lengua</label>
                                            <select id="second-language" class="form-control" th:field="*{secondLanguage}">
                                                <option class="seleccionado" value="" selected>Seleccione su segunda lengua</option>
                                                <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="religion-student" class="form-label">Religion</label>
                                            <select id="religion-student" class="form-control" th:field="*{religion}">
                                                <option class="seleccionado" value="" selected>Seleccione su Religion</option>
                                                <option th:each="religion : ${religions}" th:value="${religion.id}" th:text="${religion.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="number-siblings" class="form-label">Numero de hermanos</label>
                                            <input id="number-siblings" type="number" min="0" max="20" class="form-control" th:field="*{siblings}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="position-siblings" class="form-label">Lugar que ocupa</label>
                                            <input id="position-siblings" type="number" min="1" max="20" class="form-control" th:field="*{orderSibling}" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="disability" class="form-label">Discapacidad</label>
                                                <select id="disability" class="form-control" th:field="${typeDisability}">
                                                    <option class="seleccionado" value="" selected>Seleccione su Discapacidad</option>
                                                    <option th:each="disability : ${typeDisabilities}" th:value="${disability.id}" th:text="${disability.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <button type="button" id="nextBtn" class="btn btn-primary">Siguiente</button>
                                    </div>
                                </div>

                            </div>
                            <div class="tab step-form " id="step-2">
                                <h5 class="fs-title">Desarrollo del estudiante</h5>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="allergy" class="form-label">Alergias</label>
                                            <input id="allergy" type="text" class="form-control" th:field="*{allergy}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="blood-type" class="form-label">Tipo de sangre</label>
                                            <select id="blood-type" class="form-control" th:field="*{bloodType}" >
                                                <option class="seleccionado" value="" selected>Seleccione el tipo de sangre</option>
                                                <option th:each="bloodType : ${bloodTypes}" th:value="${bloodType.id}" th:text="${bloodType.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tipe-of-birth" class="form-label">Tipo de nacimiento</label>
                                            <select id="tipe-of-birth" class="form-control">
                                                <option class="seleccionado" value="" selected>Tipo de nacimiento</option>
                                                <option th:each="birth : ${typeBirths}" th:value="${birth.id}" th:text="${birth.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="raised_head" class="form-label">¿A qué edad
                                                el estudiante levantó la cabeza por primera vez?</label>
                                            <input id="raised_head" type="text" class="form-control" th:field="*{raisedHead}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sit_down" class="form-label">¿A qué edad
                                                el estudiante se sentó por primera vez?</label>
                                            <input id="sit_down" type="text" class="form-control" th:field="*{sitDown}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="crawl" class="form-label">¿A qué edad
                                                el estudiante gateó por primera vez?</label>
                                            <input id="crawl" type="text" class="form-control" th:field="*{crawl}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="stoop_up" class="form-label">¿A qué edad
                                                el estudiante se paró por primera vez?</label>
                                            <input id="stoop_up" type="text" class="form-control" th:field="*{stoopUp}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="walk" class="form-label">¿A qué edad
                                                el estudiante caminó por primera vez?</label>
                                            <input id="walk" type="text" class="form-control" th:field="*{walk}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sphinter" class="form-label">¿A qué edad
                                                el estudiante controló su esfínter por primera vez?</label>
                                            <input id="sphinter" type="text" class="form-control" th:field="*{sphinter}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first_words" class="form-label">¿A qué edad el estudiante dijo sus primeras palabras?</label>
                                            <input id="first_words" type="text" class="form-control" th:field="*{firstWords}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="speak_fluently" class="form-label">¿A que edad el estudiante hablo con fluidez?</label>
                                            <input id="speak_fluently" type="text" class="form-control" th:field="*{speakFluently}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <button type="button" id="prevBtn" class="btn btn-primary">Atrás</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="nextBtn" class="btn btn-primary">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab step-form " id="step-3" th:object="${fatherInformation}">
                                <h5 class="fs-title">Datos del padre</h5>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="given-names-father" class="form-label">Nombres</label>
                                            <input id="given-names-father" type="text" class="form-control"  th:field="*{givenNames}" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-last-name-father" class="form-label">Primer Apellido</label>
                                            <input id="first-last-name-father" type="text" class="form-control"  th:field="*{firstLastName}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="second-last-name-father" class="form-label">Segundo apellido</label>
                                            <input id="second-last-name-father" type="text" class="form-control"  th:field="*{secondLastName}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="birth-date-father" class="form-label">Fecha de nacimiento</label>
                                            <input id="birth-date-father" type="date" class="form-control"  th:field="*{birthDate}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">¿Está vivo?</label>
                                            <br>
                                            <div class="form-check" >
                                                <input value="true" class="form-check-input" type="radio"  id="radio-1"  th:field="${fatherInformation.isAlive}">
                                                <label class="form-check-label" for="radio-1"> Sí </label>
                                            </div>
                                            <div class="form-check">
                                                <input value="false" class="form-check-input" type="radio" id="radio-2"  th:field="${fatherInformation.isAlive}">
                                                <label class="form-check-label" for="radio-2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">¿Vive con el estudiante?</label>
                                            <br>
                                            <div class="form-check">
                                                <input value="true" class="form-check-input" type="radio" name="liveWithStudent1" id="radio-3" th:field="*{liveWithStudent}">
                                                <label class="form-check-label" for="radio-3"> Sí </label>
                                            </div>
                                            <div class="form-check">
                                                <input value="false" class="form-check-input" type="radio" name="liveWithStudent1" id="radio-4" th:field="*{liveWithStudent}">
                                                <label class="form-check-label" for="radio-4">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="education-degree-father" class="form-label">Grado de instrucción</label>
                                            <select id="education-degree-father" class="form-control"  th:field="*{educationDegree}">
                                                <option class="seleccionado" value="" selected> Seleccione tipo de instrucción</option>
                                                <option th:each="educationDegree : ${educationDegrees}" th:value="${educationDegree.id}" th:text="${educationDegree.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="occupation-father" class="form-label">Ocupación</label>
                                            <select id="occupation-father" class="form-control" th:field="*{occupation}">
                                                <option class="seleccionado" value="" selected> Seleccione Ocupación</option>
                                                <option th:each="occupation : ${occupations}" th:value="${occupation.id}" th:text="${occupation.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="religion-father" class="form-label">Tipo de Religion</label>
                                            <select id="religion-father" class="form-control" th:field="*{religionsReligion}">
                                                <option class="seleccionado" value="" selected> Seleccione Religion</option>
                                                <option th:each="religion : ${religions}" th:value="${religion.id}" th:text="${religion.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <button type="button" id="prevBtn" class="btn btn-primary">Atrás</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="nextBtn" class="btn btn-primary">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab step-form " id="step-4" th:object="${motherInformation}">
                                <h5 class="fs-title">Datos de la madre</h5>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="given-names-mother" class="form-label">Nombres</label>
                                            <input id="given-names-mother" type="text" class="form-control" th:field="*{givenNames}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-last-name-mother" class="form-label">Primer
                                                Apellido</label>
                                            <input id="first-last-name-mother" type="text" class="form-control" th:field="*{firstLastName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="second-last-name-mother" class="form-label">Segundo apellido</label>
                                            <input id="second-last-name-mother" type="text" class="form-control" th:field="*{secondLastName}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="birth-date-mother" class="form-label">Fecha de nacimiento</label>
                                            <input id="birth-date-mother" type="date" class="form-control" th:field="*{birthDate}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">¿Está vivo?</label>
                                            <br>
                                            <div class="form-check">
                                                <input value="true" class="form-check-input" type="radio"  id="radio-5" th:field="${motherInformation.isAlive}">
                                                <label class="form-check-label" for="radio-5"> Sí </label>
                                            </div>
                                            <div class="form-check">
                                                <input value="false" class="form-check-input" type="radio" id="radio-6" th:field="${motherInformation.isAlive}">
                                                <label class="form-check-label" for="radio-6">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-last-name" class="form-label">¿Vive con el estudiante?</label>
                                            <br>
                                            <div class="form-check">
                                                <input value="true" class="form-check-input" type="radio" name="liveWithStudent2" id="flexRadioDefault3" th:field="*{liveWithStudent}">
                                                <label class="form-check-label" for="flexRadioDefault3"> Sí </label>
                                            </div>
                                            <div class="form-check">
                                                <input value="false" class="form-check-input" type="radio" name="liveWithStudent2" id="flexRadioDefault4" th:field="*{liveWithStudent}">
                                                <label class="form-check-label" for="flexRadioDefault4">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="education-degree-mother" class="form-label">Grado de instrucción</label>
                                            <select id="education-degree-mother" class="form-control" th:field="*{educationDegree}">
                                                <option class="seleccionado" value="" selected>Seleccione tipo de instrucción</option>
                                                <option th:each="educationDegree : ${educationDegrees}" th:value="${educationDegree.id}" th:text="${educationDegree.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="occupation-mother" class="form-label">Ocupación</label>
                                            <select id="occupation-mother" class="form-control" th:field="*{occupation}">
                                                <option class="seleccionado" value="" selected> Seleccione Ocupación</option>
                                                <option th:each="occupation : ${occupations}" th:value="${occupation.id}" th:text="${occupation.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="religion-mother" class="form-label">Tipo de Religion</label>
                                            <select id="religion-mother" class="form-control" th:field="*{religionsReligion}">
                                                <option class="seleccionado" value="" selected>Seleccione Religion</option>
                                                <option th:each="religion : ${religions}" th:value="${religion.id}" th:text="${religion.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <button type="button" id="prevBtn" class="btn btn-primary">Atrás</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" id="Enviar" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>
<!--                            <div style="overflow:auto;">-->
<!--                                <div style="float:right;">-->
<!--                                    <button type="button" id="prevBtn" class="btn btn-secondary" onclick="nextPrev(-1)">Atrás</button>-->
                              <!--        <button type="button" id="nextBtn" class="btn btn-primary">Enviar</button> -->
<!--                                </div>-->
<!--                            </div>-->
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/fichaMatricula.js}"></script>
        <script src=""></script>
        <script type='text/javascript'>
            $('#province').change(
                function () {
                    updateDistrics();
                });
            $('#department').change(
                function () {
                    updateProvinces();
                    setTimeout(function(){
                        updateDistrics()
                    }, 100);
                });
            function updateProvinces(){
                var p;
                $.getJSON("http://localhost:8080/api/province", {
                    department: $('#department').val(),
                    ajax: 'true'
                }, function (data) {
                    let html = '';
                    let len = data.length;
                    p= data;
                    for (let i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    html += '</option>';
                    $('#province').html(html);
                });


            }
            function updateDistrics(){
                $.getJSON("http://localhost:8080/api/districts", {
                    province: $('#province').val(),
                    ajax: 'true'
                }, function (data) {
                    let html = '';
                    let len = data.length;
                    for (let i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    html += '</option>';
                    $('#district').html(html);
                });
            }
        </script>
    </body>
</html>
