<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="modalPay(idStudent, amount,description)" class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="modalPay" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Realizar pago</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Inicio del contenido -->
                    <div class="card">
                        <div class="card-body">
                            <div class="bg-white shadow-sm pt-4 ps-2 pe-2 pb-2">
                                <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                    <div th:replace="fragments/enrollment-pay/card :: itemCreditCard"></div>
                                    <div th:replace="fragments/enrollment-pay/transfer :: itemTransfer"></div>
                                    <div th:replace="fragments/enrollment-pay/wallet :: itemWallet"></div>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div th:replace="fragments/enrollment-pay/card :: creditCard(${idStudent}, ${amount},${description})"></div>
                                <div th:replace="fragments/enrollment-pay/transfer :: transfer(${amount})"></div>
                                <div th:replace="fragments/enrollment-pay/wallet :: wallet(${amount})"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin del contenido -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>