<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="inputEnrollmentActive(id, label, field)" class="col-md-6">
        <div class="form-group">
            <label th:for="${id}" class="form-label" th:text="${label}"></label>
            <input th:id="${id}" type="text" class="form-control" th:field="*{__${field}__}" required>
        </div>
    </div>

    <div th:fragment="inputEnrollmentDisabled(id, label, value)" class="col-md-6">
        <div class="form-group">
            <label th:for="${id}" class="form-label" th:text="${label}"></label>
            <input th:id="${id}" type="text" class="form-control" th:value="__${value}__" disabled>
        </div>
    </div>

    <div th:fragment="optionEnrollmentDisabled(id, label, value)" class="col-md-6">
        <div class="form-group">
            <label th:for="${id}" class="form-label" th:text="${label}"></label>
            <select th:for="${id}" class="form-control" disabled>
                <option th:text="__${value}__"></option>
            </select>
        </div>
    </div>

    <div th:fragment="optionEnrollmentActive(id, label, value)" class="col-md-6">
        <div class="form-group">
            <label th:for="${id}" class="form-label" th:text="${label}"></label>
            <select th:for="${id}" class="form-control">
                <option th:text="__${value}__"></option>
            </select>
        </div>
    </div>
</body>
</html>