<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <a th:fragment="navLink(label, url, faviconClass)" class="nav-link" th:href="${url}">
        <div class="sb-nav-link-icon"><i th:classappend="${faviconClass}"></i></div>
        <span th:text="${label}"></span>
    </a>

    <div id="layoutSidenav_nav" th:fragment="sideNav(nombresCompletos)">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Administrador</div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Padres'}, ${'/admin/parents'}, ${'fas fa-project-diagram mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Estudiantes'}, ${'/admin/students'}, ${'fas fa-user-graduate mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Matrículas'}, ${'/admin/enrollments'}, ${'fas fa-plus mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Años'}, ${'/admin/years'}, ${'fas fa-plus mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Transacciones'}, ${'/admin/transactions'}, ${'fas fa-plus mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Pagos'}, ${'/admin/payments'}, ${'fas fa-plus mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Deudas'}, ${'/admin/debts'}, ${'fas fa-plus mr-2'})"></div>
                    <div th:replace="fragments/sidenavAdmin :: navLink(${'Tipos de pago'}, ${'/admin/paymentTypes'}, ${'fas fa-plus mr-2'})"></div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Conectado como:</div>
                <span th:text="${nombresCompletos}"></span>
            </div>
        </nav>
    </div>
</body>
</html>