<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav th:fragment="topNav(urlUpdateProfile)" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" th:href="@{/}">Colegio Prisma</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="${urlUpdateProfile}">Ver perfil</a></li>
                    <li>
                        <form name="logoutForm" method="POST" th:action="@{/logout}" th:hidden="true">
                        </form>
                        <a id="logout-link" class="dropdown-item" href="#" onclick="document.forms['logoutForm'].submit()">Cerrar sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>