/*Estilos del archivo index.html*/
.square{
    width: 340px;
    margin: 20% auto;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.square .btn{
    min-height: 38px;
    border-radius: 2px;
    opacity: 1;
}
.link{
    text-decoration: none;
}
.fondo{
    background-image: url(../img/bg.jpg);
    background-position: center;
    width: 100%;
}

.fondo-principal {
    background: #b5b5b5;
}

.fondo-formulario {
    background: white;
}