<!DOCTYPE html>
<html xmlns:th=="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro general</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label">Docentes</label>
        <div class="col-md-4">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label">Cursos</label>
        <div class="col-md-4">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label">Grados</label>
        <div class="col-md-4">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label">Secciones</label>
        <div class="col-md-4">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label">Horarios</label>
        <div class="col-md-4">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>

</div>
</body>

</html>