<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>

    <script src="https://kit.fontawesome.com/d3e9f7af7c.js" crossorigin="anonymous"></script>

</head>

<body class="fondo">
    <div class="container">
        <div class="square row">
            <div class="col">
                <form th:action="@{/login}" method="POST">
                    <h2 class="text-center mb-5">&iexcl;Bienvenido a Colegios Prisma!</h2>
                    <div class="form-group mb-2 mt-2">
                        <input type="text" class="form-control" placeholder="C&oacute;digo" name="username"/>
                    </div>
                    <div class="form-group mb-2 mt-2">
                        <input type="password" class="form-control" placeholder="Contrase&ntilde;a" name="password"/>
                    </div>
                    <div class="form-group mb-4 mt-4">
                        <button type="submit" class="form-control btn btn-primary">Ingresar</button>
                    </div>
                    <!-- <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success" role="alert">
                        You have been logged out.
                    </div> -->
                    <div class="clearfix">
                        <label class="float-start form-check-label"><input type="checkbox"> Recordar</label>
                        <a th:href="@{registro}" href="#" class="link float-end">Crear cuenta</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>