<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Padres - Inicio</title>

        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
        <link rel="preload" th:href="@{/css/styles.css}" as="style">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    </head>

    <body class="sb-nav-fixed">
        <div th:replace="parts :: topnav"></div>
        <div id="layoutSidenav">
            <div th:replace="parts :: sideNav(${nombresCompletos})"></div>
            <div id="layoutSidenav_content">
                <div class="container-xl px-2 mt-4">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">Detalles del perfil</div>
                                <div class="card-body px-0">
                                    <form class="container-fluid" th:action="@{/parent/perfil}" th:object="${parent}"
                                          method="POST">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="given-names">Nombres</label>
                                                    <input type="text" class="form-control" id="given-names"
                                                           th:field="*{givenNames}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="first-last-name">Primer Apellido</label>
                                                    <input type="text" class="form-control" id="first-last-name"
                                                           th:field="*{firstLastName}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="second-last-name">Segundo Apellido</label>
                                                    <input type="text" class="form-control" id="second-last-name"
                                                           th:field="*{secondLastName}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="email-address">Correo electrónico</label>
                                                    <input type="text" class="form-control" id="email-address"
                                                           th:field="*{email}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="phone-number">Celular</label>
                                                    <input type="text" class="form-control" id="phone-number"
                                                           th:field="*{phone}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="address">Dirección</label>
                                                    <input type="text" class="form-control" id="address" th:field="*{address}"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success mt-4">Guardar cambios</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
